.logoButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: var(--main-black-color);
    font-size: 20px;
    font-weight: bold;
    outline: 2px solid var(--second-color);
    transition: outline, box-shadow 0.3s ease-in-out;

    & img {
        position: absolute;
        left: 15px;
        height: 30px;
    }

    &:hover {
        box-shadow: 0 2px 10px var(--black-shadow);
        outline: none;
    }

    &:focus {
        box-shadow: 0 2px 10px var(--black-shadow);
        outline: none;
    }
}
