.InputBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &:focus-within {
        & .underline::after {
            transform: translate(0, 50%) scaleX(1);
        }
    }

    &:focus-within .label, .input[data-filled="true"] + .label {
        bottom: 38px;
        color: var(--accent-color);
    }
}

#newPassword {
    &.error {
        &~ .errorText {
            visibility: hidden;
        }

        & ~ .passwordCheck {
            visibility: visible;
            opacity: 1;
            top: 60px;
        }
    }

    &~.errorText[data-filled="true"] {
        visibility: hidden;
    }

    &[data-filled="true"] ~ .passwordCheck {
        visibility: visible;
        opacity: 1;
        top: 60px;
        color: var(--red-false-color);
    }

    &:focus-within ~ .passwordCheck {
        visibility: visible;
        opacity: 1;
        top: 60px;
    }
}


.passwordCheck {
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, color 0.3s ease-in-out;
    position: absolute;
    list-style: none;
    color: var(--second-color);
    top: 40px;
    left: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;

    & li {
        transition: color 0.3s ease-in-out;
        position: relative;
        left: 25px;

        &.valid {
            color: var(--green-true-color);

            & .trueIcon {
                opacity: 1;
            }

            & .falseIcon {
                opacity: 0;
            }
        }

        & .trueIcon {
            opacity: 0;
        }

        & .falseIcon {
            opacity: 1;
        }
    }

    & svg {
        transition: opacity 0.3s ease-in-out;
        height: 14px;
        position: absolute;
        left: -25px;
        top: 2px;
    }
}

.input {
    height: 40px;
    width: 100%;
    font-size: 14px;
    border: none;
    padding: 0 25px 0 3px;
    outline: none;
    color: var(--main-black-color);
    background-color: transparent;

    &[data-filled="true"] ~ .clearInput svg {
        rotate: 0deg;
        fill: var(--second-color);
        transition: rotate 0.4s ease-in-out, fill 0.3s ease-in-out;
    }

    &[data-filled="true"] ~ .clearInput {
        visibility: visible;

        &:hover svg {
            fill: var(--main-black-color);
            transition: fill 0.2s ease-in-out;
        }
    }

    &.error ~ .errorText {
        opacity: 1;
        top: 50px;
    }
}

.clearInput {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 13px;
    left: 320px;
    visibility: hidden;
    transition: visibility 0.4s ease-in-out;

    & svg {
        height: 15px;
        width: 100%;
        rotate: -45deg;
        fill: transparent;
        transition: rotate 0.4s ease-in-out, fill 0.3s ease-in-out;
    }
}

.errorText {
    position: absolute;
    color: var(--red-false-color);
    top: 40px;
    opacity: 0;
    left: 3px;
    font-size: 14px;
    transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
}

.label {
    position: absolute;
    color: var(--second-color);
    bottom: 14px;
    left: 3px;
    font-size: 14px;
    pointer-events: none;
    transition: bottom 0.4s ease-in-out;
}

.underline {
    height: 2px;
    width: 100%;
    background-color: var(--second-color);
    border-radius: 40px;

    &::after {
        content: "";
        height: 2px;
        width: 100%;
        bottom: 1px;
        background: linear-gradient(90deg, transparent, var(--accent-color), transparent);
        position: absolute;
        transform: translate(0, 50%) scaleX(0);
        transition: transform, color 0.4s ease-in-out;
    }
}
