.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.panel {
    padding: 30px 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--black-shadow);
}

h1 {
    margin: 0 0 30px 0;
}

a {
    color: var(--main-black-color);
    text-decoration: underline;
}

.alternative {
    color: var(--second-color);
}

form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    color: var(--main-black-color);
    font-size: 16px;

    &::before,
    &::after {
        content: "";
        height: 2px;
        border-radius: 40px;
        width: 100%;
        background-color: var(--second-color);
    }

    &::before {
        margin-right: 10px;
    }

    &::after {
        margin-left: 10px;
    }
}

