.DropDownMenu {
    position: relative;
    width: 160px;
    height: 40px;
}

.textBox {
    position: absolute;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;

    &:focus {
        color: transparent;
        box-shadow: 0 1px 3px var(--black-shadow);

        & ~ .options {
            visibility: visible;
            opacity: 1;
            top: 55px;
        }

        & ~ .placeHolder {
            visibility: visible;
            opacity: 1;
        }
    }
}

.placeHolder {
    position: absolute;
    font-size: 14px;
    top: 12px;
    left: 10px;
    opacity: 0;
    width: 180px;
    color: var(--second-text-color);
    visibility: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: opacity 0.3s ease-in-out;
}

.options {
    position: absolute;
    width: 100%;
    background-color: var(--main-white-color);
    border-radius: 5px;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-shadow: 0 3px 5px var(--black-shadow);
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;


    & .option {
        background-color: transparent;
        position: relative;

        & .checkMarkIcon {
            position: absolute;
            height: 18px;
            top: 10px;
            right: 10px;
            z-index: 1;
        }

        &:hover {
            background-color: var(--second-text-color);
        }

        &:first-child {
            border-radius: 5px 5px 0 0;
        }

        &:last-child {
            border-radius: 0 0 5px 5px;
        }

        & p {
            padding: 10px;
        }
    }
}