:root {
  font-family: "SF Compact Display", sans-serif;
  background-color: var(--main-white-color);
  color: var(--main-black-color);
  --black-shadow: rgba(0, 0, 0, 0.4);
  --accent-color: #023488;
  --accent-color-rgb: 2, 52, 136;
  --main-white-color: #f0f0f0;
  --main-black-color: #141414;
  --second-color: #bdbdbd;
  --error-color: #ff5e5e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



