@import "tailwindcss";

@theme {
  --color-black-shadow: rgba(11, 18, 21, 0.4);
  --color-accent: #023488;
  --color-accent-on-hover: #0047bf;
  --color-accent-rgb: 2, 52, 136;
  --color-main-white: #FAF9F6;
  --color-main-black: #0B1215;
  --color-second-text: rgba(11, 18, 21, 0.40);
  --color-green-true: #44aa55;
  --color-red-false: #c62c2c;

  --color-glass-bg: color-mix(in oklab, transparent 80%, transparent);
  --color-glass-border: color-mix(in oklab, var(--color-glass-bg) 70%, white);

  --font-sans: "SF Compact Display", sans-serif;
  --font-noto: "Noto", sans-serif;
  --font-dancing: "Dancing Script", sans-serif;
  --font-mono: "Fira Code", monospace;
  --font-heading: "Playfair Display", serif;
}

@layer base {
  body {
    background-color: var(--color-main-white);
  }
}


/*:root {*/
/*  font-family: "SF Compact Display", sans-serif;*/
/*  background-color: var(--main-white-color);*/
/*  color: var(--main-black-color);*/
/*  --black-shadow: rgba(11, 18, 21, 0.4);*/
/*  --accent-color: #023488;*/
/*  --accent-color-rgb: 2, 52, 136;*/
/*  --main-white-color: #FAF9F6;*/
/*  --main-black-color: #0B1215;*/
/*  --second-text-color: rgba(11, 18, 21, 0.40);*/
/*  --green-true-color: #44aa55;*/
/*  --red-false-color: #c62c2c;*/
/*}*/

/* убираем скроллбар в Chrome, Safari и Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* убираем скроллбар в IE, Edge и Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none;    /* Firefox */
}

/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  scroll-behavior: smooth;*/

/*  & button {*/
/*    user-select: none;*/
/*    -webkit-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    touch-action: manipulation;*/
/*    cursor: pointer;*/
/*  }*/
/*}*/



